/*--->classes que controlam o mapa como um todo<---*/
.map {
  align-content: center;
}
/*tamanho do mapa. Substituir por width e height se quiser aumentar*/
.map svg {
  width: 100%;
  display: block;
}
/*preenchimento padrão do mapa*/
.map path {
  fill: #ccc;
  stroke: #716f87;
  stroke-width: 1;
}
/*caracteríticas quando o mouse passa por cima do mapa*/
.map path:hover {
  fill: #f78736 !important;
  cursor: help;
}

/*--->classes que controlam o painel de informação que aparece quando passa o mouse<---*/
.info_panel {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
}

.info_panel::first-line {
  font-weight: bold;
}

/*classe padrão da tabelinha no painel de informação*/
table.unstyledTable {
  /*border: 1px solid #535353;*/
  margin: 0 auto;
  text-align: left;
  padding-left: 5px;
  align-self: center;
}

/*classes para as cores das tabelinhas no painel de informação*/
.escorrega {
  background-color: rgba(235, 125, 91, 0.4);
}
.solapa {
  background-color: rgba(91, 204, 235, 0.4);
}
.escorrega-solapa {
  background-color: rgba(91, 235, 189, 0.4);
}



/*classe para o título MAPEAMENTO PMSP no painel de informação*/
.header {
  font-size: 11px;
  font-weight: bold;
}

.boxContainer {
  display: flex;
  justify-content: center;

}

#casas {
  height: 50px;
}

